
@font-face {
    font-family: gameFont;
    src: url(fonts/game-font.ttf);
}

body{
    font-family: 'gameFont';
    background: #0B5157;
    overflow: hidden;
}

.arrow{
    opacity: 0.2;            
}
.arrow:active,
.arrow.active{
    opacity: 1;
}

.arrow-top {
    position: absolute;
    top: 8px;
    left:50%;
    margin-left:-15vh;
    width:0px; 
    height:0px; 
    border-left:15vh solid transparent;
    border-right:15vh solid transparent;            
    border-bottom:15vh solid #FFBB33;
}

.arrow-bottom {
    position: absolute;
    width:0px; 
    height:0px; 
    border-left:15vh solid transparent;
    border-right:15vh solid transparent;            
    border-top:15vh solid #FFBB33;
    bottom: 8px;
    left:50%;
    margin-left:-15vh;
}

.arrow-right {
    position: absolute;
    top:50%;
    margin-top: -15vh;
    right:8px;
    width:0px; 
    height:0px; 
    border-top:15vh solid transparent;
    border-bottom:15vh solid transparent;            
    border-left:15vh solid #FFBB33;
}

.arrow-left {
    position: absolute;
    top:50%;
    margin-top: -15vh;
    left:8px;
    width:0px; 
    height:0px; 
    border-top:15vh solid transparent;
    border-bottom:15vh solid transparent;            
    border-right:15vh solid #FFBB33; 
}

.button{
    border: 2px solid #33B5E5;
    background: #33B5E5;
    font-size: 32vh;
    line-height: 40vh;
    border-radius: 100%;
    width: 40vh;
    height: 40vh;
    color: white;
    text-align: center;
    display: inline-block;;
    text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    margin-top: -20vh;
}

.button-a{           
    left: 30vh;
}

.button-b{
    right: 30vh;
}

.button:active{
    background: #0B5157;
    border: 2px solid #fff;
}


.open-settings {
    color: white;
    font-size: 8vh;
}

.settings{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
    padding: 8px;
    overflow: auto;    
    opacity:0;
}
.settings.opened{
    opacity:1;
}
.settings::-webkit-scrollbar {
 display: none;
}

.settings .scroll{
    padding-bottom: 100%;
}

.settings .close{
    position: fixed;
    top: 8px;
    right:8px;
    color: white;
    font-size: 8vh;
}

.settings input {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    float: left;
    margin-top: 6vw;
    margin-left: 25vw;
    width: 50vw;
    height: 18vh;
    font-size: 22px;
    font-family: 'gameFont';
}


.tag-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;   
    padding: 8px;
    overflow: auto;
    transition:all linear 2s;
}

.game-message{
position: absolute;
left: 0;
text-align: center;
width: 100%;
top: 40vh;
height: 20vh;
font-size: 30vh;
color: orange;
line-height: 24vh;
}